@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Error";
}

<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>Oops!</h1>
    <strong>Error</strong>
    <p>
        The server encountered something unexpected that didn't allow it to complete the request. We apologize.
    </p>
    <a href="@Url.Action("Index", "Campaigns")" class="btn btn-xs btn-success">Go back to Campaigns</a>
</div>
